#outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

#signinContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

#header {
    font-size: 36px;
    font-weight: bold;
    color: #00AEEF;
    margin-left: 0px;
}

#subtitle {
    font-size: 16px;
    font-weight: normal;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.input:focus {
    border-color: #00AEEF;
    outline: none;
}

.button {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #00AEEF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #007bb5;
}

#error {
    color: red;
    margin-bottom: 10px;
}

.signupText {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.signupLink {
    color: #00AEEF;
    text-decoration: none;
}

.signupLink:hover {
    text-decoration: underline;
}
